@font-face { 

    font-family: 'Uchen', serif; /*this is where we give our font a name so we can use it!*/
    
    src: url("https://fonts.googleapis.com/css2?family=Uchen&display=swap"); /*remember this is how we link to files in CSS!*/
    
    }

body {margin: 0px;
      font-family: Helvetica, Verdana, sans-serif;
      background-color:#fff;}

a {color: green;}



/* Navigation Bar */

.header {background-color: lightcyan;
       position: fixed;
       width: 100%;
       z-index: 3;}

.header ul{margin:0;
           padding:0;
           list-style: none;
           overflow: hidden;
           background-color: lightskyblue;}

.header ul a{display: block;
             padding: 20px;
             border-right: 1px dotted black;
             text-decoration: none;}

.header ul ol a{display: none;}

.header ul a:hover {background-color: #90ee90;}



.header .logo{ float: left;
               display: block;
               font-size: 2em;
               padding: 10px 20px;}

.header .menu{ clear: both;
               max-height: 0;
               transition: max-height .2s ease-out;}

.header .menu-icon{padding: 28px 20px;
                   position: relative;
                   float: right;
                   cursor: pointer;}

.header .menu-icon .nav-icon{ background: #333;
                              display: block;
                              height: 2px;
                              width: 18px;
                              position: relative;
                              transition: background .2s ease-out;}
                    
.header .menu-icon .nav-icon:before {background: #333;
                                      content: "";
                                      display: block;
                                      height: 100%;
                                      width: 100%;
                                      position: absolute;
                                      transition: all .2s ease-out;
                                      top: 5px;}

.header .menu-icon .nav-icon:after {background: #333;
                                        content: "";
                                        display: block;
                                        height: 100%;
                                        width: 100%;
                                        position: absolute;
                                        transition: all .2s ease-out;
                                        top: -5px;}

.header .menu-btn {display: none;}

.header .menu-btn:checked ~ .menu {max-height: 240px;}

.header .menu-btn:checked ~ .menu-icon .nav-icon {
    background: transparent;}

.header .menu-btn:checked ~ .menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top: 0;}

.header .menu-btn:checked ~ .menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top: 0;}




    blockquote{font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;}



body {display: grid;
         grid-template-columns: 30% 50% 20%;
         grid-template-rows: 15% 15% 60% 10%;
         gap: 0px 0px;
         grid-auto-flow: row;
}   

#degrees {font-family: Uchen, serif; }

#degrees {
    
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 5;

}

/* Name Styling */


/* List Styling*/
ul {float: left;}
ul ul li {display: none;}

a:link::after {color:aqua;}

/* header styling

.Header { grid-area: Header; 
 color:green;
 text-size-adjust: 70%;
 text-align: center;}


 .Navigation {grid-area: Navigation; 
          background:lightgreen;
          padding: 15px 15px 15px 15px;
          font-size: 155%;
          text-align: center;}


          .navbar {display: inline-block;
      justify-content: center;}
*/


      .Image {grid-area: Image;
     float: left;
     padding: 5%;}

.Content {
       margin-left: 6em;
       font-size: 18px;}

footer {
      background-color: lightgrey;
      text-align: center;
      border: 5px dotted Green;
      padding: 1%;
      margin: auto;}




html, body, .Content {height: 100%;
                     margin: 0;}

                     




@media (min-width: 768px) { .header li {float: left;}
                            .header li a {padding: 20px 30px;}
                            .header .menu {clear: none;
                                           float: right;
                                           max-height: none;}
                            .header .menu-icon {display: none;}
                            }



