* { margin: 0;
    padding: 0;}
#trio ul {list-style-type: none;
        margin-left: 1.35em;
        margin-bottom: 1.40em;}
#trio ul li {width: 175px;
            margin-bottom: .75em;
            border: 2.25px solid #008000;}
#trio ul li a {display: block;
               padding: .25em 0 .25em 1em;
               text-decoration: none;
               font-weight: bold;
               color: #008000;}
#trio ul li a.wearehere {background-color: #ffc0cb;}
#trio ul ul li {position: absolute;
                left: 100%;
                display: block;
                float: none;}
#trio ul ul {display: none;
             float: none;
             position: absolute;
             left: 100%;}
#trio ul li:hover > ul {display: block;}