* { margin: 0;
    padding: 0;}
a {font-weight: bold;}
.menu ul {list-style-type: none;
          display: inline-flex;
          flex-wrap: wrap;
          position: relative;
        margin-left: 1.35em;
        margin-bottom: 1.40em;}
.menu ul {align-items: center;
          justify-items: center;}

.header .menu ul li { display: none; }

            .menu ul li a {display: block;
               padding: 0;
               text-decoration: none;
               font-weight: bold;
               color: #fff;}
.header .menu ul li a .wearehere {background-color: #ffc0cb;}
.header .menu ul ul li a {top: 100%;
                display: block;
                border-color: #ffffff;
                float: none;}
.header .menu ul ul {display: none;
             float: none;
             position: absolute;
             top: 100%;}
.header .menu ul li:hover > ul {display: block;}
.header .menu > ul::after {content: "";
                   display: block;
                   clear: both;}
.header .menu ul>li ul {position: absolute;
                  top: 100%;
                  display: none;}
                
  /*special hover to display the drop-down*/
.header .menu ul>li:hover>ul{display: block;
                                   top: 100%;}
                