.drawer {color: #33cc99;}
h2 {font-stretch: semi-expanded;}
h3 {text-rendering: optimizeSpeed;}
p {font-stretch: semi-expanded}
header {align-content: center;}
a #Resume {text-decoration-style: none;
           text-align: center;}
body {border: none;
      margin: 0.5em auto;
      width: 100%;
      height: 100%;
font-family: Helvetica, Verdana, sans-serif;}

.s1 {text-align: right;}


footer {margin-top: 1.25em;
        font-size: 70%;
        text-align: right;}


@media (max-width: 350px) {p {font-size: smaller 50%;}}
@media (max-width: 850px) {p {font-size: larger 25%;}}